{% extends 'core/base.html' %}

{% block title %}Charts{% endblock %}

{% block content %}
    <h1 class='text-center text-6xl py-10'>Choose a Decade!</h1>
        <div class='grid grid-cols-3 gap-3 bg-gray-200'>
        {% for chart in charts %}
            <div>
                <a href = '{% url 'chart:detail' chart.id %}'>
                    <div class='px-3 py-3'>
                        <div>
                            <img src='{{ chart.image.url }}' class='rounded-t-xl'>
                        </div>
                        <div class = 'p-6 bg-white rounded-b-xl'>
                            <h2 class = 'text-2xl hover:text-4xl'>{{ chart.decade }}</h2>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
{% endblock %}