{% extends 'core/base.html' %}
{% block title %}Be Kind!{% endblock %}

{% block content %}
    <h1 class='mb-6 text-3xl'>Discussions</h1>
    
    <div class='my-4 px-2 py-6 flex bg-purple-100 rounded-xl w-1/2'>
        <header class='py-4 px-4 text-xl text-center text-green-800'>Discussion Topic</header>
        <div class='px-6'>
            <p class='mb-6'><strong>{{ topic.created_by }}</strong><br>Last Modified: {{ topic.updated_at }} | Created: {{ topic.created_at }}</a>
            <p class='text-2xl text-center'>{{ topic.name }}</p>
        </div>
    </div>

    
    {% for post in posts %}
        <div class='my-4 px-6 py-6 flex bg-gray-100 rounded-xl'></div>
            <div class='px-6'>
                <p class='mb-6'><strong>{{ post.created_by }}</strong> | {{ post.created_at }}</p>
                <p class='text-xl'>{{ post.content }}</p>
            </div>
        </div>
    {% endfor %}
    
    <div>
        <h2 class='mb-6 text-3xl'>Want to Add to this Discussion?</h2>
        <a href='{% url 'discussions:new_discussion_post' topic.id %}' class='mt-6 py-4 px-8 text-lg rounded-xl bg-teal-500 hover:bg-teal-700'>Click Here!</a>
    </div>
{% endblock %}